.form-inline.editableform {
    padding-top: 10px;
}

.navbar {
    background: #173e43;
}

body {
    background: #3fb0ac;
    color: white;
}

/*nav div a {
    color: white;
}*/

.dropdown :not(.dropdown-toggle) {
    background: black;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background: black;
}

.dropdown-menu>li>a:hover {
    background: black;
}

.table-hover>tbody>tr:hover {
    background: black;
}
